# Private keys
PKEY=0xc015122a58c0bba7b110e0395286fd3f4430290a0c4aff3e59410abc7a9b9b99

# Explorer api keys
BSC_APIKEY=bsc api key
TBSC_APIKEY=testnet bsc api key

# RPC urls
BSC_RPC=https://bsc-dataseed.binance.org/
TBSC_RPC=https://data-seed-prebsc-1-s1.binance.org:8545/

# CIDs
BSC_CID=56
TBSC_CID=97